#title {
    padding: 0px;
    text-align: center;
}

#mSchedule {
    margin-left: auto;
    margin-right: auto;
}

#mSchedule table,
td{
    border: 1px solid black;
    text-align: center;
}

#mSchedule thead {
    line-height: 20px
}

#mSchedule thead, tfoot {
    background-color: gray;
    color: white;
}

#moddedManual {
    font-size: 10px;
    text-align: center;
}

#mKey {
    position: sticky;
    top: 50px;
    padding: 10px;
}

#mKey thead{
    background-color: gray;
    color: white;
    border: 1px solid black;
}

#pagenum {
    background: none!important;
    border:none;
    padding:0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

#showPage {
    visibility: hidden;
}

#showpg {
    padding: 10px;
}