#mainTitle {
    font-size: 100;
    padding-top: 70px;
    color: black;
}

#descriptionContent {
    padding-top: 70px;
}

#stickyBanner {
    position: sticky;
    color: black;
    background-color: gray;
    top: 0px;
    padding: 10px 0px;
}

